<div id="mainid">

  <div class="wrapper">
  
        <div class="title">Register</div>
        <form (ngSubmit)="createUser()">
          <div class="field">
            <input type="text" [(ngModel)]="user.fname" name="t1" required>
            <label>First Name</label>
          </div>
          <div class="field">
            <input type="text" [(ngModel)]="user.lname" name="t2" required>
            <label>Last Name</label>
          </div>
          <div class="field">
            <input type="text" [(ngModel)]="user.age" name="t3" required>
            <label>Age</label>
          </div>
          <div class="field">
            <input type="text" [(ngModel)]="user.pno" name="t4" required>
            <label>Phone Number</label>
          </div>
          <div class="field">
            <input type="text" [(ngModel)]="user.email" name="t5" required>
            <label>Email</label>
          </div>
          
          <div class="field">
            <input type="password" [(ngModel)]="user.password" name="t6" required>
            <label>Password</label>
          </div>
       
          
          
          
         <br>
            
          <div class="field">
            <input type="submit" value="SignUp">
          </div>
        <div class="signup-link">Already registered? <a [routerLink]="['/Login']">Login now</a></div>
  
      </form>
    </div>
  </div>
  
  
  
