* {
    box-sizing: border-box;
  }
      .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
  }
  header .card{
         padding: 30px;
         text-align: center;
        font-size: 35px;
        color: rgb(37, 26, 26);
       
  }
  .row {
    display: block;
   
      margin: 0 auto;
  }
  .col {
      display:inline;
      float:left;
      margin: 1% 1% 1% 1%;
  }
  .span-1-of-4 {
      width: 45%; 
  }


