

<div class="container">

    <body class="card" >


        <div class="container">
            <!--container for overall row-->
            <!--row starts-->
            <div class="row">
                <!--first column of two-->
                <div class="col span-1-of-4">
                    <form class="card" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input type="text" name="name" [(ngModel)]="ambulance.name" class="form-control" id="inputAddress" placeholder="name" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Enter Phone Number</label>
                            <input type="text" name="pno" [(ngModel)]="ambulance.pno" class="form-control" id="phonenumber" placeholder="+91" required>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Address</label>
                            <input type="text" name="address" [(ngModel)]="ambulance.address" class="form-control" id="inputAddress2"
                                placeholder="Apartment, studio, or floor" required>
                        </div>
                            <div class="form-group ">
                                <label for="inputCity">City</label>
                                <input type="text" name="city" [(ngModel)]="ambulance.city" class="form-control" id="inputCity" required>
                            </div>
                            <div class="form-group ">
                                <label for="inputState">State</label>
                                <select id="inputState" [(ngModel)]="ambulance.state" name="state" class="form-control" required>
                                    <option>Karnataka</option>
                                    <option>Tamilnadu</option>
                                    <option>Kerala</option>
                                    <option>AndhraPradesh</option>
                                    <option>Telangana</option>

                                </select>
                            </div>
                            <div class="form-group " style="padding-bottom: 10px;">
                                <label for="inputZip">Zip</label>
                                <input type="text" name="zip" [(ngModel)]="ambulance.zip" class="form-control" id="inputZip" required>
                            </div>
                      
                        <div class="field btn btn-primary">
                            <input  class="btn btn-primary" type="submit" value="Submit">
                          </div>

                    </form>
                </div>
                <!--first column ends-->
                <!--column two-->
                <div class="col span-1-of-4">
                    <form class="card">
                        <h2> Coronavirus disease (COVID-19): Vaccines Q & A</h2>
                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            data-target="#collapse1" (click)="toggleTag1()">Is there vaccine for
                                            covid-19 ?</a>
                                    </h4>
                                </div>
                                <div *ngIf="showMe1">
                                    <div id="collapse1" class="panel-collapse ">
                                        <div class="panel-body">
                                            <p>
                                                Yes there are now several vaccines that are in use. The first mass
                                                vaccination programme started in early December 2020 and the number of
                                                vaccination doses administered is updated on a daily basis here. At
                                                least 13 different vaccines (across 4 platforms) have been administered.

                                                The Pfizer/BioNtech Comirnaty vaccine was listed for WHO Emergency Use
                                                Listing (EUL) on 31 December 2020. The SII/Covishield and
                                                AstraZeneca/AZD1222 vaccines (developed by AstraZeneca/Oxford and
                                                manufactured by the State Institute of India and SK Bio respectively)
                                                were given EUL on 16 February. The Janssen/Ad26.COV 2.S developed by
                                                Johnson & Johnson, was listed for EUL on 12 March 2021. The Moderna
                                                COVID-19 vaccine (mRNA 1273) was listed for EUL on 30 April 2021 and the
                                                Sinopharm COVID-19 vaccine was listed for EUL on 7 May 2021. The
                                                Sinopharm vaccine is produced by Beijing Bio-Institute of Biological
                                                Products Co Ltd, subsidiary of China National Biotec Group (CNBG). The
                                                Sinovac-CoronaVac was listed for EUL on 1 June 2021.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            data-target="#collapse2" (click)="toggleTag2()"> Will covid-19 vaccine
                                            provide long-term protection ? </a>
                                    </h4>
                                </div>

                                <div *ngIf="showMe2">
                                    <div id="collapse2" class="panel-collapse ">
                                        <div class="panel-body">
                                            <p>Because COVID vaccines have only been developed in the past months, it’s
                                                too early to know the duration of protection of COVID-19 vaccines.
                                                Research is ongoing to answer this question. However, it’s encouraging
                                                that available data suggest that most people who recover from COVID-19
                                                develop an immune response that provides at least some period of
                                                protection against reinfection – although we’re still learning how
                                                strong this protection is, and how long it lasts.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            data-target="#collapse3" (click)="toggleTag3()"> What type of covid-19
                                            vaccine being developed ? </a>
                                    </h4>
                                </div>
                                <div *ngIf="showMe3">
                                    <div id="collapse3" class="panel-collapse   ">
                                        <div class="panel-body">
                                            <p>Scientists around the world are developing many potential vaccines for
                                                COVID-19. These vaccines are all designed to teach the body’s immune
                                                system to safely recognize and block the virus that causes COVID-19.

                                                Several different types of potential vaccines for COVID-19 are in
                                                development, including:</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </form>
                </div>
                <!--second column ends here-->
            </div>
            <!--row ends here-->
        </div>
        <!--container inside body  ends -->
    </body>
</div>
<!--container outside body-->
