<div id="mainid">

    <div class="wrapper">
  
      <div class="title">Contact Us</div>
      <form (ngSubmit)="createContactus()">
        <div class="field">
          <input type="text" name="x1" [(ngModel)]="contactus.fname"  required>
          <label>Firstname</label>
        </div>
        <div class="field">
          <input type="text" name="x2" [(ngModel)]="contactus.lname" required>
          <label>Lastname</label>
        </div>
        
        <div class="field">
          <input type="text" name="x3" [(ngModel)]="contactus.email" required>
          <label>Email</label>
        </div>
        <div class="field">
          <input type="text" name="x4" [(ngModel)]="contactus.reason" required>
          <label>Reason for Contact</label>
        </div>
        <br>
  
        <div class="field">
          <input type="submit" value="Submit">
        </div>
  
      </form>
    </div>
  </div>

