<div id="mainid">

  <div class="wrapper">
  
        <div class="title">Register</div>
        <form action="register.html" method="post">
          <div class="field">
            <input type="text" name="t1" required>
            <label>First Name</label>
          </div>
          <div class="field">
            <input type="text" name="t2" required>
            <label>Last Name</label>
          </div>
          <div class="field">
            <input type="text" name="t3" required>
            <label>Age</label>
          </div>
          <div class="field">
            <input type="text" name="t4" required>
            <label>Phone Number</label>
          </div>
          <div class="field">
            <input type="text" name="t5" required>
            <label>Email</label>
          </div>
          
          <div class="field">
            <input type="password" name="t6" required>
            <label>Password</label>
          </div>
          <br>
          
          <div class="content">
            <input class="checkbox" type="checkbox" name="t7" >
            <label class="field">Is Aarogya Setu App installed in your phone</label>
          </div>
          
         <br>
            
          <div class="field">
            <input type="submit" value="SignUp">
          </div>
        <div class="signup-link">Already registered? <a [routerLink]="['/Login']">Login now</a></div>
  
      </form>
    </div>
  </div>
  
  
  
